#colonnes {
    display: flex;
}

.colonne {
    flex: 1;
}

h1 {
	text-align: center;
}

.colonne:nth-child(1) {
    background-color: silver;
}
.colonne:nth-child(2) {
    background-color: gray;
}
.colonne:nth-child(3) {
    background-color: LightCyan;
}